{
  "api": "update",
  "titel": "آپدیت 2.4",
  "text": "به نام خداوند بخشنده مهربان\nقابلیت های جدید:\n●دانلود پست ورقه ای\n●دانلود در گالری\n●افزایش امنیت برنامه\n●برطرف شدن برخی از باگ ها",
  "link": "rubika://l.rubika.ir/mohammaddavoodi_mr";
}